* {
   font-family: 'Roboto', sans-serif;
   box-sizing: border-box;
}

body {
   background-color: #f6f8fc;
}

.content {
   padding: 1rem;
   background-color: #fff;

}

@media screen and (min-width: 710px) {
   .content {
      max-width: 710px;
      margin: 1rem auto;
      border-radius: 1rem;
   }
}

.content h1 {
   padding-bottom: 1rem;
   margin: 0;
}

.pokemons {
   
   display: grid;
   grid-template-columns: 1fr;
   list-style: none;
   padding: 0;
   margin: 0;
}

@media screen and (min-width: 370px) {
   .pokemons {
      grid-template-columns: 1fr 1fr;
      
   }
}


@media screen and (min-width: 620px) {
   .pokemons {
      grid-template-columns: 1fr 1fr 1fr;
      
   }
}

@media screen and (min-width: 800px) {
   .pokemons {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      
   }
}

.pokemon{
   
   display: flex;
   flex-direction: column;
   margin: .5rem;
   padding: 1rem 1rem;
   border-radius: 1rem;
   background-color: #49D0B0;
   color: #F0f2f6;
}

.pokemon .name {
   color: #fff;
   margin-bottom: .25rem;

}

.pokemon .number {
   color: #000;
   opacity: 0.1;
   text-align: right;
   font-size: .625rem;
}

.pokemon .detail {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;

}

.pokemon .detail .types {
   padding: 0;
   margin: 0;
   list-style: none;
}

.pokemon .detail .types .type {

   background-color: #61e1ca;
   color: #fff;
   padding: .25rem .5rem;
   margin: .25rem 0;
   font-size: .625rem;

   border-radius: 1rem;
}


.pokemon .detail img{

   border-style: none;
   max-width: 100%;
   height: 75px;
   align-self: flex-end;
}