* {
   font-family: 'Roboto', sans-serif;
   box-sizing: border-box;
}

body {
   background-color: #f6f8fc;
}

.content {
   padding: 1rem;
   background-color: #fff;

}

.content h1 {
   padding-bottom: 1rem;
   margin: 0;
}

@media screen and (min-width: 300px) {
   .content {
      max-width: 300px;
      margin: 1rem auto;
      border-radius: 1rem;
   }
}

@media screen and (min-width: 480px) {
   .content {
      max-width: 480px;
      margin: 1rem auto;
      border-radius: 1rem;
   }
}


@media screen and (min-width: 710px) {
   .content {
      max-width: 710px;
      margin: 1rem auto;
      border-radius: 1rem;
   }
}