* {
   font-family: 'Roboto', sans-serif;
   box-sizing: border-box;
}

body {
   background-color: #f6f8fc;
}

.background {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vh;
   height: 100vh;
   z-index: -1;
   opacity: 95%;
}

.ash {
   position: fixed;
   height: 500px;
   margin: 28px 0px 0px 1064px;
   z-index: -1;
}

.pikachu-fundo {
   position: fixed;
   height: 410px;
   margin: 200px 0px 0px -63px;
   z-index: -1;
}


.content {
   padding: 1rem;
   background-color: #f8f8f8;
   box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
}

.content h1 {
   padding-bottom: 1rem;
   margin: 0px 0px 0px 10px;
}


@media screen and (min-width: 300px) {
   .content {
      max-width: 300px;
      margin: 1rem auto;
      border-radius: 1rem;
   }

   .background {
      opacity: 80%;
   }
   
   .ash {
      opacity: 0%;
   }
   
   .pikachu-fundo {
      opacity: 0%;
   }
   
}

.ash {
   position: fixed;
   height: 500px;
   margin: 28px 0px 0px 1064px;
   z-index: -1;
   opacity: 100%
}

.pikachu-fundo {
   position: fixed;
   height: 410px;
   margin: 200px 0px 0px -63px;
   z-index: -1;
   opacity: 90%
}

@media screen and (min-width: 550px) {
   .content {
      max-width: 550px;
      margin: 1rem auto;
      border-radius: 1rem;
   }
}


@media screen and (min-width: 750px) {
   .content {
      max-width: 750px;
      margin: 1rem auto;
      border-radius: 1rem;
      
   }
}
   