* {
   font-family: 'Roboto', sans-serif;
   box-sizing: border-box;
}

.content {
   padding: 1rem;
}

.content h1 {
   padding-bottom: 1rem;
   margin: 0;
}

.pokemons {
   
   display: grid;
   grid-template-columns: 1fr 1fr;
   list-style: none;
   padding: 0;
   margin: 0;
}

.pokemon{
   
   display: flex;
   flex-direction: column;
   margin: .5rem;
   padding: 1rem 1rem;
   border-radius: 1rem;
   background-color: #49D0B0;
   color: #F0f2f6;
}

.pokemon .number {
   color: #000;
   opacity: 0.1;
   text-align: right;
}

.pokemon .detail {
   display: flex;
   flex-direction: row;

}

.pokemon .detail .types {
   padding: 0;
   margin: 0;
   list-style: none;
}

.pokemon .detail .types .type {

   background-color: #61e1ca;
   color: #fff;
   padding: .25rem .5rem;
   margin: .25rem 0;
   font-size: .625rem;

   border-radius: 1rem;
}


.pokemon .detail img{

   border-style: none;
   max-width: 100%;
   max-height: 100%;
   height: 100px;
   width: 100px;
   align-self: flex-end;
}