
.page-pokemons {
   
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
    
 }
 
 
 .pokemon{
    
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: #F0f2f6;
    max-width: 100%;
    max-height: 137px;
 }

 .grass{

   background-color: #49D0B0;
   color: #F0f2f6;
}

.bug{

   background-color: #8ad049;
   color: #F0f2f6;
}

.normal{

   background-color: #8c5394;
   color: #F0f2f6;
}

.fire{

   background-color: #ee594e;
   color: #F0f2f6;
}

.water{

   background-color: #26a1c7;
   color: #F0f2f6;
}

.electric{

   background-color: #acb431;
   color: #F0f2f6;
}
 
 .pokemon .name {
    color: #fff;
    margin-bottom: .25rem;
    font-size: 1.2rem;
    
 }
 
 .pokemon .number {
    color: #000;
    opacity: 0.3;
    text-align: right;
    font-size: .725rem;
    display: list-item;
 }
 
 .pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
 }
 
 .pokemon .detail .types {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    align-self: flex-start;
    margin-top: 1rem;
 }
 
 .pokemon .detail .types .type {
    
    background-color: #61e1ca;
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .925rem;
    border-radius: 1rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    
 }
 
 .pokemon .detail .types #grass {
    
   background-color: #78da6b;
}

.pokemon .detail .types #poison {
    
   background-color: #c38aca;
}
 
.pokemon .detail .types #bug {
    
   background-color: #6cc964;
}

.pokemon .detail .types #normal {
    
   background-color: #9e9e9e;
}

.pokemon .detail .types #fire {
    
   background-color: #f8863a;
}

.pokemon .detail .types #fairy {
    
   background-color: #f89eb9;
}

.pokemon .detail .types #water {
    
   background-color: #3675d4;
}

.pokemon .detail .types #electric {
    
   background-color: #d4d136;
}

.pokemon .detail .types #flying {
    
   background-color: #ffffff;
   color: #777676;
}


 .pokemon .detail img{
    display: flex;
    border-style: none;
    max-width: 100%;
    max-height: 100%;
    align-self: flex-end;
    position: relative;
    height: 104px;
    top: -21px;
    left: 3px;

 }

 .pagination {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin-top: 5%;
 }
 
 
 @media screen and (min-width: 550px) {
    .page-pokemons {
       grid-template-columns: 1fr 1fr;
       
    }
 }
 
 @media screen and (min-width: 750px) {
    .page-pokemons {
       grid-template-columns: 1fr 1fr 1fr;
       
    }
 }
