.pokemons {
   
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
    
 }
 
 
 .pokemon{
    
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
    background-color: #49D0B0;
    color: #F0f2f6;
 }
 
 .pokemon .name {
    color: #fff;
    margin-bottom: .25rem;
    font-size: 1.2rem;
    
 }
 
 .pokemon .number {
    color: #000;
    opacity: 0.1;
    text-align: right;
    font-size: .725rem;
 }
 
 .pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
 }
 
 .pokemon .detail .types {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    align-self: flex-start;
 }
 
 .pokemon .detail .types .type {
    
    background-color: #61e1ca;
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .925rem;
    border-radius: 1rem;
    
 }
 
 
 .pokemon .detail img{
    
    border-style: none;
    max-width: 100%;
    max-height: 100%;
    height: 5rem;
    align-self: flex-end;
    margin: 10px;
 }
 
 
 @media screen and (min-width: 550px) {
    .pokemons {
       grid-template-columns: 1fr 1fr;
       
    }
 }
 
 @media screen and (min-width: 750px) {
    .pokemons {
       grid-template-columns: 1fr 1fr 1fr;
       
    }
 }
