.pokemons #Bulbasaur img {
    position: relative;
    height: 104px;
    top: -21px;
    left: 3px;
}

.pokemons #Caterpie img {
    position: relative;
    height: 104px;
    top: -21px;
    left: 3px;
}

.pokemons #Eevee img {
    position: relative;
    height: 104px;
    top: -22px;
    left: -7px;

}

.pokemons #Charmander img {
    position: relative;
    height: 104px;
    top: -21px;
    left: 3px;
}

.pokemons #Meowth img {
    position: relative;
    height: 113px;
    top: -32px;
    left: -9px;
}

.pokemons #Jigglypuff img {
    position: relative;
    height: 104px;
    top: -21px;
    left: 3px;
}

.pokemons #Squirtle img {
    position: relative;
    height: 104px;
    top: -21px;
    left: 3px;
}

.pokemons #Gyarados img {
    position: relative;
    height: 106px;
    top: -26px;
    left: 4px;
}

.pokemons #Pidgeotto img {
    position: relative;
    height: 105px;
    top: -22px;
    left: 4px;
}

.pokemons #Pikachu img {
    position: relative;
    height: 108px;
    top: -27px;
    left: -5px;
}